*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Primary Colors */
  --color-background: #1e1e1e;    
  --color-card-bg: #2a2a2a;       
  --color-text: #fffefe;          
  --color-accent: #8a2be2;     
  --color-accent-hover: #9c40e0;  



  --box-shadow: 0 2px 12px rgba(246, 157, 157, 0.316);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}



body{
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: 'Poppins', sans-serif;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: var(--color-background);
  color: var(--color-text);

}

.todo{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  max-height: 600px;
  gap: 20px;
  height: 50%;
  width: 60%;
  margin: 1em;
  padding: 3rem;
  background:var(--color-card-bg) ;
  border-radius: 15px;
  box-shadow:var(--box-shadow) ;
}

h2{
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-size: 30px;

}
.input{
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 5px 10px;
  gap: 5px;
  
}
.input-field{
  padding: 10px 20px;
  margin: 5px 5px;
  width: 100%;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  border: 0.06rem solid #d2d2d2bf;
  background: rgb(231, 222, 222);
  font-size: 1rem;
  
}
.input[type='text']::placeholder{
  color: #1e1e1e;
}
.todo-container {
  display: flex;
  gap: 1rem;
}
.counter-container{
  font-size: larger;
  text-align: center;
  padding: 15px;
  margin-top: 25px;
  background-color: #3c3841;
  color: var(--color-text);
  border-radius: 10px;
}

.counter-container p {
  align-self: center;
}

.counter-container button {
  border: none;
  background-color: transparent;
  color: var(--grey);
  font-size: 1rem;
}

.addBtn {
  background-color: #8a2be2;       
  color: #ffffff;                  
  border: none;
  border-radius: 6px;
  padding: 4px 5px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.addBtn i.material-icons {
  font-size: 20px;                 
  margin:5 px;
              
}

.addBtn:hover {
  background-color: #9c40e0;      
}

.deleteBtn{
  padding: 5px 8px;
  margin-top: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  background:#ff4d4d ;
  transition: background-color 0.3s;
}
.deleteBtn:hover {
  background-color: #e63946;     
}

.deleteBtn:focus {
  outline: 2px solid #ff7a7a;      
}
ul {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}

#todoList p {
  display: flex;
  gap: 1rem;
  color: var(--dark);
  align-items: center;
}
#todoList .disabled {
  color: #8f98a8;
}
.disabled {
  display: flex;
  text-decoration: line-through;
}
.footer {
  display: flex;
  gap: 1.8rem;
  background-color: var(--white);
  padding: 1.2rem;
  border-radius: 0.5rem;
}

.made-by,
.author {
  font-size: 0.9rem;
}

.made-by {
  color: var(--grey-dark);
}
.author {
  color: var(--blue);
  font-weight: bold;
}


.scroll {
  height: 15rem;
  scrollbar-width: thin;
}

.scroll::-webkit-scrollbar {
  width: 0.6rem;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 0.5rem;
}

.scroll::-webkit-scrollbar-track {
  display: none;
}